@charset "UTF-8";
/* CSS Document */

p {
	color: white;
	float:right;
	
}

.if {
	width: 800px;
	height: auto;
	background-color: black;
}

.if img {
	width: 400px;
}

h1 {
	color: red;
	
}

h2 {
	
	color: grey;
}

